body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
 }

 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 gray;
    height: 80px;
    border-radius:5px;
    font-size: 1.1rem;
    width:100%;
    margin-top: 0.5rem;
    position: fixed;
    top: -0.7rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
}

.brand{
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar-nav{
    margin-left: 5rem;
    margin-top: 4px;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 600;
}

.nav-item{
    white-space:nowrap;
}

.nav-item1{
    margin-left: 5rem;
}



.nav-link:hover{
    background-color: #349ab1;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

 

.btn:hover{
   color: white;
   background-color: black;
   transition: all 0.2s ease-in-out;
   border-radius: 4px;
}



#container{
    width: 100%;
    height: 290px;

}
#part1{
    width: 100%;
    height: 280px;
    background-color: #292929;
    margin-top: 5rem;
}
#part2{
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
    top: -15px;
}
#companyinfo{
    width: 14%;
    height: 280px;
    position: relative;
    left: 8%;
    top: 30px;
}
#sitelink{
    font-size: 35px;
    color: #f44336;
    font-weight: 700;
}
#sitelink:hover{
    color: #e65100;
}
#title{
    color: gray;
    position: relative;
    top: 0px;
    font-size: 17px;
}
#detail{
    color: #aaa7a7;
    font-size: 16px;
}
.explore{
    width: 14%;
    height: 280px;
    position: relative;
    top: -235px;
    left: 29%;
}
#txt1, #txt2, #txt3, #txt4, #txt5{
    color: white;
    font-size: 20px;
}
.links{
    display: flex;
    width: 90px;
    height: 40px;
    color: #aaa7a7;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    top: -10px;
    text-decoration: none;
}
.links:hover{
    color: #e65100;
}
.link1:hover{
    color: #e65100;
}
#visit{
    width: 14%;
    height: 280px;
    position: relative;
    top: -525px;
    left: 44%;
    color:white;
}
.text{
    color: #aaa7a7;
    font-size: 14px;
    margin-top: -10px;
}
#legal{
    width: 14%;
    height: 280px;
    position: relative;
    top: -800px;
    left: 59.5%;
}
#connect{
    width: 14%;
    height: 280px;
    position: relative;
    top: -1080px;
    left: 77.5%;
    
}

.icon{
    margin-left: -25px;
}
.link1{
    display: flex;
    width: 150px;
    height: 40px;
    color: #aaa7a7;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    top: -7px;
    margin-top: 7px;
    font-size: 0.9rem;
}

#txt5{
    position: relative;
    top: 0px;
    color:aliceblue;
}

.t1{
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    margin-left: 1rem;
    color:#e65100;
}
 
.t1:hover{
    color: #aaa7a7;
}
 
#txt6{
    color: white;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;
    color: #aaa7a7;
}
/* .material-icons{
    position: relative;
    top: 3px;
} */
