{% extends 'base.html' %}
{% load static %}
{% block content  %}
<div class="contact" id="contact">

  <link rel='stylesheet' href="{% static '/css/contact.css' %}">
    <div class="base">
        <img alt="img" src='{% static "/images/i19.jpg" %}' class="bimg"></img>
        <div  class="container">
            <div class="base-text">
              <h1 >Contact</h1>
            </div>
          </div>
        </div>
    <div class="row">
      <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.8415367997914!2d72.55042537505246!3d23.02958981606671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85cf241a7445%3A0x80a17b0c0d19a3a9!2sSP%20hostel!5e0!3m2!1sen!2sin!4v1695895604611!5m2!1sen!2sin"
        width="600"
        height="450"
        style='border:0px'
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <br />
      {% csrf_token %}
      <form  onsubmit='alert("Thanks For Contact us")'>
        <h2 class="detail">Details</h2>
        <div class="inputbox">
          <i class="fa-solid fa-user t2"></i>
          <input
            type="text"
            name="uname"
            placeholder="Name"
            required
          />
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-envelope t2"></i>
          <input
            type="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="inputbox">
          <i class="fa-solid fa-phone t2"></i>
          <input
            type="text"
            name="mnumber"
            placeholder="Mobile Number"
            required
            maxLength={10}
          />
        </div>
        <button type="submit" class="btn">
          Submit
        </button>
      </form>
    </div>
  </div>

{% endblock %}